@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F2ED;
  --foreground: #002A3F;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gotham', system-ui, sans-serif;
  scrollbar-color: #004F71 var(--background);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: #004F71;
  border-radius: 6px;
  border: 3px solid var(--background);
}
